.container {
  margin: 120px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

header {
  position: absolute;
  top: 0;
  height: 72px;
  width: 100%;
  background-color: grey;
}

header ul {
  margin-top: 0;

}

header li {
  display: inline-block;
  float: left;
  margin-right: 32px;
}

header a {
  line-height: 72px;
  text-decoration: none;
  color: white;
  font-size: 24px;
}

div.splash {
  width: 200px;
  margin: 40px auto;
  font-size: 48px;
}
