-moz-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-appearance: button; /* 2 */
    -webkit-appearance: none;
    -webkit-appearance: textfield; /* 1 */
    -webkit-box-sizing: content-box; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
    background: #ff0;
    border-bottom: 1px dotted;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
    border: 0;
    border: 0; /* 1 */
    border: 1px solid #c0c0c0;
    bottom: -0.25em;
    box-sizing: border-box; /* 1 */
    box-sizing: content-box;
    box-sizing: content-box;
    color: #000;
    cursor: default;
    cursor: pointer; /* 3 */
    display: block;
    display: inline-block;
    display: none;
    display: none;
    font-family: inherit; /* 1 */
    font-family: monospace, serif;
    font-family: sans-serif; /* 1 */
    font-size: 100%; /* 2 */
    font-size: 1em;
    font-size: 2em;
    font-size: 75%;
    font-size: 80%;
    font-style: italic;
    font-weight: bold;
    height: 0;
    height: 0;
    line-height: 0;
    line-height: normal;
    margin: 0 2px;
    margin: 0.67em 0;
    margin: 0;
    margin: 0;
    margin: 0; /* 3 */
    outline: 0;
    outline: thin dotted;
    overflow: auto; /* 1 */
    overflow: hidden;
    padding: 0.35em 0.625em 0.75em;
    padding: 0;
    padding: 0; /* 2 */
    padding: 0; /* 2 */
    position: relative;
    quotes: "\201C" "\201D" "\2018" "\2019";
    text-transform: none;
    top: -0.5em;
    vertical-align: baseline;
    vertical-align: top; /* 2 */
    white-space: pre-wrap;
   ========================================================================== */
   ========================================================================== */
   ========================================================================== */
   ========================================================================== */
   ========================================================================== */
   ========================================================================== */
   ========================================================================== */
   ========================================================================== */
   Base
   Embedded content
   Figures
   Forms
   HTML5 display definitions
   Links
   Tables
   Typography
 *    (include `-moz` to future-proof).
 *    `input` and others.
 *    and `video` controls.
 *    user zoom.
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 * 1. Correct `color` not being inherited in IE 8/9.
 * 1. Correct font family not being inherited in all browsers.
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 1. Set default font family to sans-serif.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 * 2. Correct font size not being inherited in all browsers.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 2. Improve readability and alignment in all browsers.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 * 2. Remove excess padding in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 * 3. Improve usability and consistency of cursor style between image-type
 * Address `outline` inconsistency between Chrome and other browsers.
 * Address differences between Firefox and other browsers.
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * Address inconsistent and variable font size in all browsers.
 * Address margin not present in IE 8/9 and Safari 5.
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 * Address styling not present in IE 8/9.
 * Address styling not present in IE 8/9.
 * Address styling not present in Safari 5 and Chrome.
 * Address variable `h1` font-size and margin within `section` and `article`
 * All other form control elements do not inherit `text-transform` values.
 * contexts in Firefox 4+, Safari 5, and Chrome.
 * Correct `block` display not defined in IE 8/9.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `inline-block` display not defined in IE 8/9.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 * Correct font family set oddly in Safari 5 and Chrome.
 * Correct overflow displayed oddly in IE 9.
 * Define consistent border, margin, and padding.
 * Improve readability of pre-formatted text in all browsers.
 * Improve readability when focused and also mouse hovered in all browsers.
 * on OS X.
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 * Prevent modern browsers from displaying `audio` without controls.
 * Re-set default cursor for disabled elements.
 * Remove border when inside `a` element in IE 8/9.
 * Remove default margin.
 * Remove excess height in iOS 5 devices.
 * Remove inner padding and border in Firefox 4+.
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * Remove most spacing between table cells.
 * Set consistent quote types.
 * the UA stylesheet.
 */
 */
 */
 */
 */
 */
 */
 */
 */
 */
 */
 */
 */
 */
 */
 */
 */
 */
 */
 */
 */
 */
 */
 */
 */
 */
 */
 */
 */
 */
 */
 */
 */
 */
 */
/* ==========================================================================
/* ==========================================================================
/* ==========================================================================
/* ==========================================================================
/* ==========================================================================
/* ==========================================================================
/* ==========================================================================
/* ==========================================================================
/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
/**
/**
/**
/**
/**
/**
/**
/**
/**
/**
/**
/**
/**
/**
/**
/**
/**
/**
/**
/**
/**
/**
/**
/**
/**
/**
/**
/**
/**
/**
/**
/**
/**
/**
/**
[hidden] {
a:active,
a:focus {
a:hover {
abbr[title] {
article,
aside,
audio,
audio:not([controls]) {
b,
body {
button,
button,
button,
button,
button::-moz-focus-inner,
button[disabled],
canvas,
code,
details,
dfn {
fieldset {
figcaption,
figure {
figure,
footer,
h1 {
header,
hgroup,
hr {
html input[disabled] {
html input[type="button"], /* 1 */
html {
img {
input {
input,
input::-moz-focus-inner {
input[type="checkbox"],
input[type="radio"] {
input[type="reset"],
input[type="search"] {
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
input[type="submit"] {
kbd,
legend {
main,
mark {
nav,
pre {
pre,
q {
samp {
section,
select {
select,
small {
strong {
sub {
sub,
summary {
sup {
sup {
svg:not(:root) {
table {
textarea {
textarea {
video {
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
}
