<div class = "question_form">
  <form method = "post" action = '/publish'>
    <h3><input type = "text" name = "survey_name" placeholder = "Name your survey here"></h3>
    <label><input type = "text" name = "question" placeholder = "Write question here"></tr></label>
   <ul>
     <li><input type = "text" name = "option1"  placeholder = "Place Option1 answer here"></li>
     <li><input type = "text" name = "option2"  placeholder = "Place Option2 answer here"></li>
     <li><input type = "text" name = "option3"  placeholder = "Place Option3 answer here"></li>
     <li><input type = "text" name = "option4"  placeholder = "Place Option4 answer here"></li>
   </ul>
   <input type = "submit" value = "Submit">
  </form>
</div>



