<div class = "question_form">
  <form method = "post" action = '/publish'>
    <h3>Title: <input type = "text" name = "survey_name" placeholder = "Name your survey here"></h3>
    <label for="question">Question: </label><input type = "text" name = "question" placeholder = "Write question here">
   <ul>
     <li><input type = "text" name = "option[1]"  placeholder = "Place Option1 answer here"></li>
     <li><input type = "text" name = "option[2]"  placeholder = "Place Option2 answer here"></li>
     <li><input type = "text" name = "option[3]"  placeholder = "Place Option3 answer here"></li>
     <li><input type = "text" name = "option[4]"  placeholder = "Place Option4 answer here"></li>
   </ul>
   <input type = "submit" value = "Submit">
  </form>
</div>



