<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>SURVEY GORILLA</title>
</head>
<body>
  <ul>
    <li><a href="/">Survey Monkey Logo TM</a></li>
    <li><a href="/">Home</a></li>
    <li><a href="/session_check">Create</a></li>
    <% if @user = current_user %>
    <li><a href="/login">Log In</a></li>
    <li><a href="/signup">Sign Up</a></li>
    <% else %>
    <li><a href="/user/<%=@user.id%>"><%=@user.name%></a></li>
    <li><a href="/logout">Logout</a></li>
    <% end %>
  </ul>
  
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
