<form method='post' action='/signup'>
  Create
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="email" placeholder="E-mail">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" name="create">
</form>
